
Beamer/.idea/vcs.xml
Beamer/.idea/pythonProject.iml
Beamer/.idea/modules.xml
Beamer/.idea/misc.xml
Beamer/.idea/inspectionProfiles/Project_Default.xml
Beamer/.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Beamer.iml
