
pythonProject/.idea/vcs.xml
pythonProject/.idea/pythonProject.iml
pythonProject/.idea/modules.xml
pythonProject/.idea/misc.xml
pythonProject/.idea/inspectionProfiles/Project_Default.xml
pythonProject/.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Beamer.iml
